SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

AddType video/mp4 .mp4
Options -Indexes
RewriteEngine On


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]




